.users-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
  margin-top: 20px;
  
}

.user img {
  width: 100px;
  height: 100px;
}

.user {
  display: flex;
  gap: 50px;
  width: 25%;
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 40px;
  
}

.user h3 {
  font-size: 24px;
}

.userName {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userName button {
  margin-top: 15px;
  width: 80px;
  height: 25px;
  letter-spacing: 0.6px;
  border-radius: 10px;
}


.aboutPerson {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.location-user {

}

.userName .follow {
  background-color: rgba(98, 98, 246, 0.5);
  
}

.userName .unfollow {
  background-color: rgba(98, 98, 246, 0.81);
  
  
}

.items-wrapper {
  margin-top: 20px;
}

.items-wrapper .paginationPage ul {
  display: flex;
  gap: 15px;
}

.items-wrapper .paginationPage ul li {
  cursor: pointer;
}

.items-wrapper .paginationPage ul .selected {
  font-weight: bold;
}