.sidebarMenu {
  background-color: #eee;
  padding-left: 20px;
  padding-top: 20px;
  
}

.sidebarMenu ul li {
  position: relative;
  margin-bottom: 15px;
}

ul li a .active {
  font-weight: 700;
}

ul li .active:after {
  content: '';
  position: absolute;
  border-right: 2px solid #000000;
  height: 80%;
  top: 10%;
  right: 100px;
}